
#cookieModal.modal.fade.cookieModal(role='dialog' aria-labelledby='cookieModalLabel')
    .modal-dialog.top-right(role='document')
        .modal-content
            .modal-header
                small.text-dark This site uses cookies to track you for reasons.
                    a(href='/legal.html' target='_blank') Click here 
                    to view our cookie policy
                button#cookieModalConsent.btn.btn-primary.btn-sm.btn-block(type='button'  data-dismiss='modal') Accept
