#LoginModal.modal.fade.LoginModal(role='dialog' aria-labelledby='LoginModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h2.text-dark Login
      .modal-body
        #login-form

