#racAdminModal.modal.fade.racAdminModal(role='dialog' aria-labelledby='racAdminModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h2.text-dark Calls in Queue
      .modal-body
        #racadmin-form
      .modal-footer
        button.btn.btn-primary.btn-lg.btn-block(type='button' data-dismiss='modal') Done
