#About.row.featurette.ml-3.my-3
  .col-md-8
    h3.display-3 We are YeetWood Mac
    p Your favorite source of dank memes. 
  .col-md-4
    .fb-page(data-href=FACEBOOK_URL data-tabs='timeline' data-width='500' data-height='' data-small-header='false' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='true')
      blockquote.fb-xfbml-parse-ignore(cite=FACEBOOK_URL)
        a(href=FACEBOOK_URL)=BRANDNAME
  
