#Home.carousel.slide.m-0.p-0(data-rider="carousel")
    .carousel-inner
        .carousel-item.active
            img.img-fluid.w-100(src=SITE_URL+'public/banners/banner.jpg' alt=BRANDNAME)

                