#Home.carousel.slide(data-ride='carousel')
  .carousel-inner
    .carousel-item.active
      img.img-responsive.first-slide(src='public/banners/banner.jpg' alt='First slide')
      .container
        .carousel-caption.text-left
          h1 Design
          p
            | I use fresh tools to craft slick looking sites in no time.
          p
            a.btn.btn-lg.btn-primary(href='#' role='button') Dope!
