#Support.p-4
	.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
		h1.display-4 Live Support
		p.lead
	.row.featurette.justify-content-around
		.col-md-4
			h2 Phone Support
			p.lead
			| Instead of waiting on hold, submit your phone number and we&apos;ll
			| call you back asap. If you are a current client, please use the
			| number we have on file and we&apos;ll place your call next in line.
		.col-md-4
			.card.border.border-secondary.rounded-top
				.card-title.p-2.bg-primary.text-light
					h2 Request a Call
				.card-body
					#rac-form
