#Terms-of-Service.row.featurette.ml-3
	.col-md-1
	.col-md-8.border-left.border-right
		h1 Loewe Tech Software Terms of Service 
		h3 This Agreement was last modified on January 12, 2020.
		p
			| Please read these Terms of Service completely using loewetechsoftware.com which is owned and operated by Russell Loewe.
			| This Agreement documents the legally binding terms and conditions attached to the use of the Site at loewetechsoftware.com.
			| By using or accessing the Site in any way, viewing or browsing the Site, or adding your own content to the Site,
			| you are agreeing to be bound by these Terms of Service.
		h2 Intellectual Property
		p
			| The Site and all of its original content are the sole property of Russell Loewe and are, as such,
			| fully protected by the appropriate international copyright and other intellectual property rights laws.
		h2 Termination
		p
			| Russell Loewe reserves the right to terminate your access to the Site, without any advance notice.
		h2 Links to Other Websites
		p
			| Our Site does contain a number of links to other websites and online resources that are not owned or controlled by Russell Loewe or Loewe Tech Software.
			| Russell Loewe has no control over, and therefore cannot assume responsibility for,
			| the content or general practices of any of these third party sites and/or services.
			| Therefore, we strongly advise you to read the entire terms and conditions and
			| privacy policy of any site that you visit as a result of following a link that is posted on our site.
		h2 Governing Law
		p
			| This Agreement is governed in accordance with the laws of Oregon, United States.
		h2 Changes to This Agreement
		p
			| Russell Loewe reserves the right to modify these Terms of Service at any time.
			| We do so by posting and drawing attention to the updated terms on the Site.
			| Your decision to continue to visit and make use of the Site after such
			| changes have been made constitutes your formal acceptance of the new Terms of Service.
			| Therefore, we ask that you check and review this Agreement for such changes on
			| an occasional basis. Should you not agree to any provision of this Agreement or
			| any changes we make to this Agreement, we ask and advise that you do not use or
			| continue to access the Loewe Tech Software site immediately.
		h2 Contact Us
		p
			| If you have any questions about this Agreement, please feel free to contact us at russloewe@gmail.com.
	.col-md-3
