- var ADMINNAME = 'Admin Name'
- var COPYRIGHT = 'Russell Loewe 2020'
- var G_ANALYTICS_KEY = ''
- var BRANDNAME = 'YEETWood Mac'
- var EMAIL = 'admin@yeetwoodmac.com'
- var PHONE_NUMBER = '555-555-5555'
- var SITE_URL =   "http://127.0.0.1:3000/"
- var OG_TITLE = ''
- var OG_DESC = ''
- var OG_IMAGE = 'https://yeetwoodmac.com/public/images/fb_share.jpg'
- var OG_URL = ''
- var FACEBOOK_URL = 'https://www.facebook.com/****'
- var LINKEDIN = 'linkedinlink'
- var BOOT_PRIMARY = '#dc3545'
- var BOOT_SECONDARY = '#35dcbd'
- var BANNER_CENTER_BUTTON = '#'

