footer.page-footer.font-small.blue.pt-4.bg-dark
  .container-fluid.text-center.text-md-left
    .row
      .col-md-6.mt-md-0.mt-3
        h5.text-uppercase=BRANDNAME
        #user-box
      hr.clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
        h5.text-uppercase Boring Stuff
        ul.list-unstyled
          li
            a(href='legal.html#Terms-of-Service' target='_blank') Terms of Service
          li
            a(href='legal.html#Privacy-Policy' target='_blank') Privacy Statement
          li
            a(href='public/sitemap.xml' target='_blank') Sitemap
      .col-md-3.mb-md-0.mb-3
        h5.text-uppercase Cool Stuff
        ul.list-unstyled
          li
            a(href='https://loewetechsoftware.com' target='_blank') Loewe Tech Homepage
          li
            a(href='https://www.facebook.com/loewetechsoftware/' target='_blank') Loewe Tech Facebook
  .footer-copyright.text-center.py-3
    | &copy; Copyright 
    a(href='https://loewetechsoftware.com/russell/' target='_blank')=COPYRIGHT

